<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">
    <img src="../../../../assets/imgs/acme-explorer-logo.jpeg" alt="Acme Explorer" class="d-inline-block align-top"
      width="60" height="35">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownTrips" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          {{'trips.title' | translate}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" (click)="navigateTo('/trips')">{{'trips.list' | translate}}</a>
        </div>
      </li>
      <li class="nav-item dropdown" *ngIf="currentActorId">
        <a class="nav-link dropdown-toggle" id="navbarDropdownProfile" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">{{'actor.profile.title' | translate}}</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

          <a class="dropdown-item" routerLink="/profile/display/{{currentActorId}}">{{'actor.profile.display' | translate}}</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/profile/edit/{{currentActorId}}">{{'actor.profile.edit' | translate}}</a>

          <div *ngIf="activeRole === 'MANAGER'" class="dropdown-divider"></div>
          <a *ngIf="activeRole === 'MANAGER'" class="dropdown-item"
            routerLink="/trips/{{currentActorId}}">{{'trips.manager.list' | translate}}</a>

          <div *ngIf="activeRole === 'MANAGER'" class="dropdown-divider"></div>
          <a *ngIf="activeRole === 'MANAGER'" class="dropdown-item" routerLink="/trips/create">{{'trips.manager.create'
            |
            translate}}</a>

          <div *ngIf="activeRole === 'MANAGER'" class="dropdown-divider"></div>
          <a *ngIf="activeRole === 'MANAGER'" class="dropdown-item" routerLink="/">{{'applications.manage' |
            translate}}</a>

          <div *ngIf="activeRole === 'SPONSOR'" class="dropdown-divider"></div>
          <a *ngIf="activeRole === 'SPONSOR'" class="dropdown-item"
            routerLink="/sponsorships">{{'sponsorships.sponsor.list' |
            translate}}</a>

          <div *ngIf="activeRole === 'SPONSOR'" class="dropdown-divider"></div>
          <a *ngIf="activeRole === 'SPONSOR'" class="dropdown-item"
            routerLink="/sponsorships/create">{{'sponsorships.sponsor.create' | translate}}</a>

        </div>
      </li>
      <li class="nav-item dropdown" *ngIf="activeRole === 'ADMINISTRATOR'">
        <a class="nav-link dropdown-toggle" id="navbarDropdownAdmin" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">{{'administrator.title' | translate}}</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" (click)="navigateTo('dashboard')">{{'administrator.dashboard.menuLink' |
            translate}}</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="navigateTo('users')">{{'administrator.user.list' | translate}}</a>

          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="navigateTo('sponsorships')">{{'administrator.sponsorship.list' |
            translate}}</a>

          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="navigateTo('users/create')">{{'administrator.user.create.manager' |
            translate}}</a>

        </div>
      </li>

      <li class="nav-item dropdown"
        *ngIf="activeRole == 'ADMINISTRATOR' || activeRole == 'EXPLORER' || activeRole == 'MANAGER'">
        <a class="nav-link dropdown-toggle" id="navbarDropdownApplications" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          {{'applications.title' | translate}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" (click)="navigateTo('applications')">{{'administrator.applications.list' |
            translate}}</a>
        </div>
      </li>

    </ul>
    <form class="form-inline mx-auto">
      <input class="form-control mr-sm-2" type="search" placeholder="{{'header.placeholder.search' | translate}}"
        aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">{{'header.search' | translate}}</button>
    </form>
    <ul class="navbar-nav">
      <li class="nav-item active">
        <button (click)="changeLanguage('en')" class="btn-sm btn-primary mr-1 mt-2">EN</button>
        <button (click)="changeLanguage('es')" class="btn-sm btn-primary mr-1 mt-2">ES</button>
        <button (click)="changeLanguage('fr')" class="btn-sm btn-primary mr-1 mt-2">FR</button>
      </li>
      <li class="nav-item" *ngIf="!currentActorId">
        <a routerLink="/register" class="nav-link">{{'security.register' | translate}}</a>
      </li>
      <li class="nav-item" *ngIf="!currentActorId">
        <a routerLink="/login" class="nav-link">{{'security.login' | translate}}</a>
      </li>
      <li class="nav-item" *ngIf="currentActorId">
        <a (click)="logout()" class="nav-link" style="cursor:pointer">{{'security.logout' | translate}}</a>
      </li>
      <li class="nav-item-active" *ngIf="activeRole === 'EXPLORER'">
        <a routerLink="/" class="nav-link">
          <span class="fa fa-shopping-cart" aria-hidden="true" style="font-size: 1.5em;"></span>
        </a>
      </li>
    </ul>
  </div>
</nav>