<h1>Dashboard</h1>
<!-- Promedio de Precios -->
<div class="container">
  <h2>Promedio de Precios</h2>
  <ul>
    <li>Minimo : 21</li>
    <li>Máximo : 85</li>
  </ul>
</div>
<!-- Top 10 palabaras mas buscadas -->
<div class="container">
  <h2>Top 10 palabaras mas buscadas</h2>
  <div class="row" >

   <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <ol>
      <li>Julio</li>
      <li>Carmen</li>
      <li>Ignacio</li>
      <li>Elena</li>
      <li>Elena</li>
    </ol>
   </div>
   <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <ol start="6">
      <li>Julio</li>
      <li>Carmen</li>
      <li>Ignacio</li>
      <li>Ignacio</li>
      <li>Elena</li>
    </ol>
   </div>

  </div>
</div>
<!--Viajes por administrador-->
<div class="container">
  <h2>Viajes por administrador</h2>
  <ul>
    <li>Promedio : 21</li>
    <li>Máximo : 85</li>
    <li>Minimo : 8</li>
    <li>Desviación : 85</li>
  </ul>
</div>
<!--Aplicacion por viajes-->
<div class="container">
  <h2>Aplicacion por viajes</h2>
  <ul>
    <li>Promedio : 21</li>
    <li>Máximo : 85</li>
    <li>Minimo : 8</li>
    <li>Desviación : 85</li>
  </ul>
</div>
<!--Estadistica de los Precios-->
<div class="container">
  <h2>Estadistica de los Precios</h2>
  <ul>
    <li>Promedio : 21</li>
    <li>Máximo : 85</li>
    <li>Minimo : 8</li>
    <li>Desviación : 85</li>
  </ul>
</div>
<!--Porciento aplicación por estado-->
<div class="container">
  <h2>Porciento aplicación por estado</h2>
  <ul>
    <li>Pending : 21 %</li>
    <li>Accepted: 85 %</li>
    <li>Due: 8 %</li>
    <li>Rejected: 85 %</li>
  </ul>
</div>
