<form [formGroup]="sponsorshipForm" *ngIf="sponsorshipForm" (ngSubmit)="onCreate()">
  <fieldset>
    <legend>{{'sponsorships.title' | translate}}</legend>

    <div class="form-group has-danger">
      <label for="tripTicker" class="form-control-label">{{'sponsorships.attributes.tripTicker' | translate}}</label>
      <input id="tripTicker " type="text" formControlName="tripTicker" class="form-control" value="{{sponsorship.tripTicker}}" [attr.disabled]="true">
    </div>


    <div class="form-group has-danger">
      <label for="banner" class="form-control-label">{{'sponsorships.attributes.banner' | translate}}</label>
      <input id="banner" type="text" formControlName="banner" class="form-control" value="{{sponsorship.banner}}" [attr.disabled]="true">
    </div>

    <div class="form-group has-danger">
      <label for="page" class="form-control-label">{{'sponsorships.attributes.page' | translate}}</label>
      <input id="page" type="text" formControlName="page" class="form-control" value="{{sponsorship.page}}" [attr.disabled]="true">
    </div>

    <button class="btn btn-primary" *ngIf="!sponsorship.isPayed" (click)="paySponsorship()">
      {{'sponsorships.sponsor.pay' | translate}}
    </button>

    <button class="btn btn-danger" (click)="removeSponsorship()">
      {{'sponsorships.sponsor.remove' | translate}}
    </button>

  </fieldset>
</form>
