<div class="breadcrumb">
    <legend class="text-center">
        {{ 'trips.title' | translate}}
    </legend>
</div>

<div *ngIf="trips == undefined || trips.length == 0">
    {{ 'errorMessages.no.trips.found' | translate}}
</div>

<div *ngIf="trips != undefined || trips.length > 0" class="card-deck">
    <div *ngFor="let trip of trips" class="card mb-3">
        <div class="card-header">
           <h4 class="card-title"> {{trip.title}}</h4> 
        </div>
       <div class="card-body">
          <div class="container-fluid text-center">
              <img class="card-img-top img-fluid mt-3" style="object-fit: contain;"
              src="../../../../assets/imgs/{{trip.picture}}" alt="Trip picture">
              <span class="badge badge-primary">{{trip.price}} € </span>
          </div> 
       </div>
       <div class="card-footer">
           <a *ngIf="actor == undefined || trip.managerId != actor.id" routerLink="/trips/display/{{trip.id}}" class="btn btn-primary pull-left">
               <span class="fa fa-search-plus" aria-hidden="true"></span>
               {{ 'trip.details' | translate}}
            </a>
            <a *ngIf="actor != undefined && trip.managerId == actor.id" routerLink="/trips/update/{{trip.id}}" class="btn btn-primary pull-left">
                <span class="fa fa-pencil" aria-hidden="true"></span>
                {{ 'trip.update' | translate}}
             </a>
       </div>
    </div>
</div>

<button *ngIf="this.authService.checkRole('MANAGER')" type="button"
class="btn btn-primary" (click)="createTrip();">
{{ 'trips.manager.create' | translate }}
</button>

