<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">{{'sponsorships.attributes.tripTicker' | translate}}</th>
      <th scope="col">{{'sponsorships.attributes.banner' | translate}}</th>
      <th scope="col">{{'sponsorships.attributes.page' | translate}}</th>
      <th scope="col">{{'sponsorships.sponsor.actions' | translate}}</th>
    </tr>
  </thead>
  <tbody *ngFor="let sponsorship of sponsorships; let i = index">
    <td>{{sponsorship.tripTicker}}</td>
    <td><a href="{{sponsorship.banner}}">{{sponsorship.banner}}</a></td>
    <td><a href="{{sponsorship.page}}">{{sponsorship.page}}</a></td>
    <td><a href="/sponsorships/{{sponsorship.id}}"><i class="fa fa-eye"></i></a>&nbsp;
      <a href="/sponsorships/{{sponsorship.id}}"><i class="fa fa-pencil"></i></a>&nbsp;
      <a href="/sponsorships/{{sponsorship.id}}" *ngIf="sponsorship.isPayed === 'false'"><i class="fa fa-credit-card"></i></a>
    </td>
  </tbody>
</table>