<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover" dt-columns="dt-columns" width="100%">
  <thead>
    <tr>
      <th>{{'sponsorships.attributes.tripTicker' | translate}}</th>
      <th>{{'sponsorships.attributes.banner' | translate}}</th>
      <th>{{'sponsorships.attributes.page' | translate}}</th>
      <th *ngIf="role === 'SPONSOR'">{{'sponsorships.sponsor.actions' | translate}}</th>
    </tr>
  </thead>

  <tbody>
      <tr *ngFor="let sponsorship of sponsorships; let i = index">
        <td>{{sponsorship.tripTicker}}</td>
        <td><a href="{{sponsorship.banner}}">{{sponsorship.banner}}</a></td>
        <td><a href="{{sponsorship.page}}">{{sponsorship.page}}</a></td>
        <td *ngIf="role === 'SPONSOR'">
          <a routerLink="/sponsorships/{{sponsorship.id}}"><i class="fa fa-search-plus" aria-hidden="true"></i></a>&nbsp;
          <a routerLink="/sponsorships/{{sponsorship.id}}/edit"><i class="fa fa-pencil"></i></a>&nbsp;
          <a routerLink="/sponsorships/" (click)="removeSponsorship(i)"><i class="fa fa-trash"></i></a>&nbsp;
          <a routerLink="/sponsorships/" (click)="paySponsorship(i)" *ngIf="!sponsorship.isPayed"><i
              class="fa fa-credit-card"></i></a>
        </td>
      </tr>
  </tbody>
</table>