<main>
<div class="card mb-3">
    <h1 class="card-header">{{ 'trip.details' | translate }}</h1>
    <div class="card-body">
        <h2 class="card-title"> {{ 'trip.title' | translate }} </h2>
        <h3 class="card-subtitle text-muted"> {{trip.title}} </h3>
    </div>
    <div class="card-body">
        <h2 class="card-title"> {{ 'trip.description' | translate }} </h2>
        <h3 class="card-subtitle text-muted"> {{trip.description}} </h3>
    </div>
    <div class="card-body">
        <h2 class="card-title"> {{ 'trip.startDate' | translate }} </h2>
        <h3 class="card-subtitle text-muted"> {{trip.startDate}} </h3>
    </div>
    <div class="card-body">
        <h2 class="card-title"> {{ 'trip.endDate' | translate }} </h2>
        <h3 class="card-subtitle text-muted"> {{trip.endDate}} </h3>
    </div>
    <div class="card-body">
        <h2 class="card-title"> {{ 'trip.price' | translate }} </h2>
        <h3 class="card-subtitle text-muted"> {{trip.price}} € </h3>
    </div>
    <div class="card-body">
        <img class="card-img-top img-fluid" style="width: 200px; display: block;"
            src="../../../../assets/imgs/{{trip.picture}}" alt="Trip picture">
    </div>

</div>

<div class="buttons">
    <button *ngIf="this.authService.checkRole('SPONSOR')" class="btn btn-primary" (click)="createSponsorship()">
        <i class="fa fa-file"></i> {{'sponsorships.sponsor.create.trip' | translate}}
    </button>
</div>
</main>