<main>
<div class="card mb-3">
    <h2 class="card-header text-center">{{ 'trip.details' | translate }}</h2>
    <div class="card-body">
        <img class="card-img-top img-fluid" style="width: 200px; display: block;"
            src="../../../../assets/imgs/{{trip.picture}}" alt="Trip picture">
    </div>
    <div class="card-body">
        <h4 class="card-title "> {{ 'trip.title' | translate }} </h4>
        <h6 class="card-subtitle text-muted"> {{trip.title}} </h6>
    </div>
    <div class="card-body">
        <h4 class="card-title"> {{ 'trip.description' | translate }} </h4>
        <h6 class="card-subtitle text-muted"> {{trip.description}} </h6>
    </div>
    <div class="card-body">
        <h4 class="card-title"> {{ 'trip.startDate' | translate }} </h4>
        <h6 class="card-subtitle text-muted"> {{trip.startDate}} </h6>
    </div>
    <div class="card-body">
        <h4 class="card-title"> {{ 'trip.endDate' | translate }} </h4>
        <h6 class="card-subtitle text-muted"> {{trip.endDate}} </h6>
    </div>
    <div class="card-body">
        <h4 class="card-title"> {{ 'trip.price' | translate }} </h4>
        <h6 class="card-subtitle text-muted"> {{trip.price}} € </h6>
    </div>
    <div class="card-body">
        <h4 class="card-title"> {{ 'trip.stages' | translate }} </h4>
        <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let stage of getStages(); let i = index">
                <h5 class="card-text ml-2 m2-1">{{i+1}}) {{stage.title}}</h5>
                <h6 class="card-text ml-2 m2-1 text-muted">{{stage.description}}</h6>
                <h6 class="card-text ml-2 m2-1 text-muted">{{stage.price}} €</h6>
            </li>
        </ul>
    </div>

</div>

<div class="buttons">
    <button *ngIf="this.authService.checkRole('SPONSOR')" class="btn btn-primary" (click)="createSponsorship()">
        <i class="fa fa-file"></i> {{'sponsorships.sponsor.create.trip' | translate}}
    </button>
</div>
</main>