<form [formGroup]="applicationForm" *ngIf="applicationForm" (ngSubmit)="onUpdate()">
  <fieldset>
    <legend>{{'applications.title' | translate}}</legend>

    <div class="form-group has-danger">
      <label for="comments" class="form-control-label">{{'applications.attributes.comments' | translate}}</label>
      <input id="comments" type="text" formControlName="comments" class="form-control">
    </div>

    <div class="form-group has-danger" *ngIf="role !== 'EXPLORER'">
      <label for="status" class="form-control-label">{{'applications.attributes.status' | translate}}</label>
      <select class="form-select" id="status" formControlName="status">
        <option *ngFor="let status of statuses" [ngValue]="status">{{ status }}</option>
    </select>
    </div>

    <div class="buttons">
      <button class="btn btn-primary" (click)="goBack()">
        <i class="fa fa-arrow-left"></i> {{'back' | translate}}
      </button>&nbsp;
      <button type="submit" class="btn btn-primary">
        {{'applications.actions.update' | translate}}
      </button>
    </div>

  </fieldset>
</form>